.nav {
  /* nav를 하단에 고정 */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box; /* padding으로 box의 공간을 유지하려고 공간이 늘어나는것을 방지/ 사이즈를 고정*/
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative; /* nav_notification의 position:absolute로 위치를 조정할때 body가 아닌 부모인 여기를 기준으로 하기 위해 */
  color: #2e363e;
}

.nav_notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
  /* display: block;  span을 block으로 만들어줘야 높이너비가능/ display:flex~~~등이 있으므로 필요없어짐 */
}
